#container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#child {
    width: 100vw;
    height: 50vh;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 50%;
}

.fundo{
    background-image: url("../Assets/fundo.png");
    background-size: cover;
}

.nav-item{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Logo{
    padding-left: 3%;
    padding-right: 65%;
    padding-top: 2%;
}

.bem_vindo{
    width: 500px;
    color:rgb(228, 225, 220);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 120px;
    margin-top: 150px;
    font-size: 55px;
    text-align: center;
    letter-spacing: 5px;
}
