#container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#child {
    width: 35vw;
    height: 100%;
}


.inputs-login {
    width: 100%; 
} 

.buttons-login {
    padding: 50%;
}

#nomeForm {
    padding-bottom: 2%;
}

.fundo{
    background-image: url("../Assets/fundo_sobre.png");
    background-size: cover;
}

.nav-item{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Logo{
    padding-left: 3%;
    padding-right: 65%;
    padding-top: 2%;
}