/*----------------------------------------------global-----------------------------------------------*/

@font-face {
    font-family: "Bebas Neue";
    src: url(../Fonts/BebasNeue-Regular.otf);
}

.menu_global{    
    background-color: black;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    max-width: 1480px;
    margin:0 auto;
    padding:0 0%;
    color:rgb(0, 0, 0);
    width: 100%  
}

.fundo_global{
    background-image: url("../Assets/1.png");
    background-size: cover;
}

/*-----------------------------------------------HOME------------------------------------------------*/
*{
    margin:0;
}
.cabeçalho_pagina_inicial{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    max-width: 1480px;
    margin:0 auto;
    padding:0 0%;
    color:rgb(0, 0, 0);
    width: 100%
}

header {
    width: 100%
}

.logo{
    padding:20px; 
}

.fundo{
    background-image: url("../Assets/2.png");
    background-size: cover;
}   


.menu a{
    color:rgb(211, 153, 7);
    text-decoration: none;
    margin-right: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.extras {
    margin:0;
}

.vetor_1{
    display: flex;
    position:absolute;
    right:500px;
}

.bem_vindo{
    width: 500px;
    color:rgb(228, 225, 220);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 100px;
    margin-top: 150px;
    font-size: 50px;
    text-align: center;
    letter-spacing: 5px;
}

.rodapé{
    background-color:rgb(37, 37, 37);
}
.menu

/*----------------------------------------MUSICAS--------------------------------------------------*/

/*----------------------------------------LETRAS--------------------------------------------------*/

/*----------------------------------------TABLATURAS---------------------------------------------*/
 
/*----------------------------------------ESTILOS-------------------------------------------------*/

.pagina_estilos {
    width: 1000px;
    margin: 0 auto;
    
}

.pagina_estilos section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.capas_musica{
    margin: 16px;
    color: blue;
}

.pagina_estilos section a {
    text-decoration: none;
}

.pagina_estilos section a div {
    background-color: rgb(38, 2, 136);
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Bebas Neue";
    
}

#pagode {
    background: linear-gradient(45deg, #f0f, #f07);
    font-size: 32px;
    letter-spacing: 4px;
}



