/*-----------------------------------------------HOME------------------------------------------------*/
*{
    margin:0;
}

.cabeçalho{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    max-width: 1480px;
    margin:0 auto;
    padding:0 0%;
    color:rgb(0, 0, 0);
}

.logo{
    padding:20px; 
}

.fundo{
    background-image: url("../Assets/2.png");
    background-size: cover;
}   


.menu a{
    color:rgb(211, 153, 7);
    text-decoration: none;
    margin-right: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.extras {
    margin:0;
}

.vetor_1{
    display: flex;
    position:absolute;
    right:500px;
}

.bem_vindo{
    width: 500px;
    color:rgb(228, 225, 220);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 100px;
    margin-top: 150px;
    font-size: 50px;
    text-align: center;
    letter-spacing: 5px;
}

.rodapé{
    background-color:rgb(37, 37, 37);
}

/*----------------------------------------MUSICAS--------------------------------------------------*/

.fundo_musicas{
    background:black;
}

/*----------------------------------------LETRAS--------------------------------------------------*/

.fundo_letras{
    background:black;
}

/*----------------------------------------TABLATURAS---------------------------------------------*/

.fundo_tablaturas{
    background:black;
}

/*----------------------------------------ESTILOS-------------------------------------------------*/

.fundo_estilos{
    background:black;
}